.text-pop-up-top{-webkit-animation:text-pop-up-top .9s cubic-bezier(.39,.575,.565,1.000) forwards;animation:text-pop-up-top .9s cubic-bezier(.39,.575,.565,1.000) forwards}
@-webkit-keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}

body{
    background-image: url(station-clock.jpeg);
    background-size: cover;

}

.wrapper{
    display: grid ;
    place-items: center;
    background-color: #465362;
}


#title{
     margin-top: 10px;
     font-size: 20px;
}
.after-timer{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: end;
}

.button {
  

        display: inline-block;
        padding: 1.5em 3em;
        background-image: linear-gradient(
          -45deg,
          rgb(228, 115, 107) 0%,
          #ED254E 100%
        );
        text-decoration: none;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 6px;
        letter-spacing: 0.2em;
        border-radius: 10em;
        color: white;
        cursor: pointer;
        

  }
  
  .button:hover {
    background-color: rgba(255,255,255,0.2);
  }


.container{
    border:1px solid #333;
    width:500px;
    margin:20px auto;
    margin-top: 200px;
    padding:20px;
    text-align:center;
    background: rgba(149, 27, 27, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(149, 27, 27, 0.5);
}

  .timer{ 
    color:#ED254E; 
    font-size:50px; 
    margin:10px auto;
    border : 5px solid #ED254E;
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
  }
  